.info-icon {
    position: absolute;
    right: 15px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info-icon svg {
    font-size: 25px;
    color: #5492ee;
    cursor: pointer;
}

header {
    position: relative;
    margin: 10px 0;
    text-align: center;
}

header h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.4px;
}

header+section {
    margin: 15px 0 -25px 0;
}

.leagues-header,
.leagues-header .active,
.leagues-header .active img {
    transition: all 0.5s ease-in-out;
}

.leagues-header .active p {
    opacity: 1 !important;
    font-weight: 500;
}

.leagues-header .active img {
    transform: rotate(360deg) scale(1.2);
}

.leagues-header .show {
    position: absolute;
    top: -4px;
    opacity: 1 !important;
    font-size: 11px;
}